# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Environment files
.env
.env.test

# Build and export files
exports/
*.csv
*.xlsx

# Mac OS files
.DS_Store
